.article-preview, .article-preview p {
    margin-top: 3px;
    margin-bottom: 0;
}
.article-item {
    border-radius: 0.5rem;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

#posts-page a {
    text-decoration: none;
}

.datePub {
    margin: 0;
    vertical-align: text-top;
    font-size: smaller;
    color:hsl(0, 0%, 80%);
    text-align: right;
}

.article-item:hover {
    background-color: #141416;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    transition-duration: 0.3s;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.article-content p {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2em;
}

.media-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.media-container .reg-image {
    width: 90%;
    object-fit: cover;
}

/* .media-container .img {
    width: 90%;
    object-fit: cover;
} */

.media-container .small-image {
    width: 50%;
    object-fit: cover;
}

.grid_two_one {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid_two_one img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}

@media only screen and (max-width: 500px) {
    .grid_two_one {
        grid-template-columns: repeat(1, 1fr);
    }
  }