#project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#project-header h2 {
  margin: 1px 0;
}

#project-image-spanner {
  display: flex;
  justify-content: center;
}

.project-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition-duration: 0.3s;
  border-radius: 8px;
  margin-top: 10px;
}

.project-content p {
  text-indent: 2em;
  line-height: 1.8em;
}

.project-content img:hover {
  transform: scale(1.02);
}

#project-info {
  margin-top: 25px;
}

.badge-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}

.badge {
  overflow: hidden;
  background-color: rgba(139, 95, 191, 0.8);
  border-radius: 3px;
  font-size: 15px;
  padding: 0px 3px;
  border: 1px solid grey;
  width: auto;
  margin-right: 10px;
}

.tech-stack-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-stack-item {
  margin-right: 5px;
  font-size: 12px;
  padding: 1px 4px;
  background-color: rgb(40, 40, 40);
  border-radius: 3px;
  border: 1px solid white;
  transition-duration: 0.3s;
}

.tech-stack-item:hover {
  cursor: default;
  transform: scale(1.05);
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 15px;
}

.media-grid img {
  height: 200px;
}

.Modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 30vh 10vw;
  background-color: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  max-height: 80vh;
}

#project-media-image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

#close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  float: right;
  background-color: black;
  height: 35px;
  width: 35px;
  font-size: 10px;
  border-radius: 17.5px;
  border: 1px solid white;
  position: relative;
  left: 15px;
  top: 17px;
  z-index: 100;
  transition-duration: 0.3s;
}
#close-modal:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media only screen and (max-width: 500px) {
  .media-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
