.skill-container {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  transition-duration: 0.1s;
  /* width: 25%; */
}

.skill-container img {
  height: 60%;
  width: auto;
  /* object-fit: cover; */
}

.skill-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.skill-container h3 {
  font-weight: 400;
  font-size: 18px;
}
